body{
	margin:0;
	background:white;
	position: relative;
}
.rect{
	width: 400px;
	height: 200px;
	background: #ccc;
	position: fixed;
	left:50%;
	top:50%;
	margin-left: -200px;
	margin-top: -100px;
}
.yuan1{
	background: #fc0;
	position: absolute;
	border-radius: 0 0 50px 0;
	width: 50px;
	height: 50px;
}
.yuan2{
	background: #fc0;
	position: absolute;
	bottom: 0px;
	right: 0px;
	border-radius:50px 0 0 0;
	width: 50px;
	height: 50px;
}